@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Reginald's Ancient Antiquities Auction House</h1>
    <p class="lead">Welcome and thank you for browsing our website.</p>
</div>

<div class="row">
    
</div>